.gradle
AndroidApp/local.properties
.idea/workspace.xml
*.iml
keystore.properties
.idea/*
AndroidApp/.idea/*
AndroidApp/captures
AndroidApp/build/
AndroidApp/build
*/build
.DS_Store
AndroidApp/projectFilesBackup
lifeoskeystore.jks
AndroidApp/app/release/*
